<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<h1> Facebook Messenger Bot </h1>

<p> A Bot app for automating conversations.</p>

<h2>Rules for conversation: </h2>
<ul>
  <li> Greeting: "hi"</li>
  <li> Accepting:  "sure"</li>
  <li> Denying:  "not now"</li>
  <li> Gratitude: "thanks", "thank you!" </li>
</ul>

<h2> Maintaining the conversation </h2>
<p> Bot is still very early on his learning phase, so you should try to correctly answer the questions and choosing answers from given cards, although you can manually type messages.</p>

<button> <a href="https://github.com/faithdevs/Messenger-Bot.git" target="_blank"> Check readme file </a> </button></h1>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            xfbml            : true,
            version          : 'v6.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="106834931932614"
     theme_color="#0084ff">
</div>
</body>
</html>
